<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Serverless Architectures</title>
  <meta name="description" content="Test AWS Serverless Architectures functionalities.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Biagio Piraino">
  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
  <main class="main-container">
    <div class="central-container">
      <div class="description">
        <h1>Serverless Architectures</h1>
        <h3>CRUD API with Lambda and DynamoDB</h3>
      </div>
      <div class="buttons">
        <a href="gets">
          <button>
            GET
          </button>
        </a>
        <a href="posts">
          <button>
            POST
          </button>
        </a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; 2023 Biagio Piraino</p>
  </footer>
  <script src=""></script>
</body>

</html>